<p>You can see/modify the following models:</p>
<ul>
    <li><%= link_to "Inventory Items", inventory_items_path %></li>
    <li><%= link_to "Products", products_path %></li>
    <li> <%= link_to "Cities", cities_path %></li>
</ul>
