<p><%= link_to "Back to Home", root_path %></p>

<h2>New Inventory Item</h2>

<%= render "form", inventory_item: @inventory_item %>

<br>

<div>
  <%= link_to "Back to inventory items", inventory_items_path %>
</div>
